body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Header, main, footer styling */
#navigation {
    background-color: whitesmoke;
}

#header {
    background-color: lightgray;
    height: 25vh;
}

#main {
    background-color: gray;
    min-height: 70vh;
}

#footer {
    background-color: whitesmoke;
}

/* Section styling */
.intro, .projects, .about {
    background-color: darkgray;
    height: 20vh;
}