body * {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
}


/* Container styling */
header {
    height: 30vh;
    position: relative;
    background-color: gray;
}

.svg-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#navigation {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
}

main {
    background-color: lightgray;
    position: relative;
    padding-bottom: 100px;
}

.svg-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.section {
    padding: 20px 20px 20px 20px;
}

#footer {
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

/* Nav Button Styles */
.nav-button {
    background-color: gray;
    border: none;
    text-transform: uppercase;
    outline-color: white;
    font-size: .9em;
}

.nav-button:hover {
    border-bottom: 3px solid black;
}

.nav-button:active {
    border-bottom: 3px solid white;
}

/*Button and link styles*/
.email-me {
    background-color: gray;
    border: 1px solid black;
}

.email-me > a:link {
    color: black;
    text-decoration: none;
}

.email-me > a:active {
    color: white;
}

/* Text Styles */
.heading-text {
    font-size: 1.7em;
}

.description, .bio, .project-description {
    font-size: 1em;
}

/* Positioning elements */
h1 {
    padding-left: 10%;
    padding-top: 12%;
}

.self {
    margin-top: 6%;
    margin-right: 2%;
    float: left;
}

.description {
    padding-left: 30%;
}

.email-me {
    margin-left: 60%;
    clear: left;
}

/* Media Queries*/
@media screen and (min-width: 410px) {
    h1 {
        font-size: 2.2em;
    }

    .nav-button {
        font-size: 1.2em;
    }

    a:link {
        font-size: 1.2em;
    }

    .description, .bio, .project-description {
        font-size: 1.2em;
    }

}

@media screen and (min-width: 750px) {
    h1 {
        padding-top: 8%;
        font-size: 2.7em;
    }

    .nav-button {
        font-size: 1.5em;
    }

    .email-me {
        margin-left: 50%;
    }

}

@media screen and (min-width: 900px) {
    h1 {
        padding-top: 5%;
    }
}

@media screen and (min-width: 1520px) {
    h1 {
        padding-top: 3%;
    }

    .description {
        margin-top: 7%;
    }
}
