body * {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #021C2B;
}

/*Sticky Footer*/
html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 94%;
}

main {
    padding-bottom: 50px;
}

footer {
    height: 50px;
}

/* Container styling */
header {
    height: 30vh;
    position: relative;
    background-color: #089AE8;
}

.svg-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#navigation {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #030c0e;
    text-transform: uppercase;
    padding-left: 20px;
}

main {
    background-color: #030c0e;
    position: relative;
    padding-bottom: 100px;
}

.svg-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.section {
    padding: 20px 20px 20px 20px;
}

#footer {
    background-color: #021C2B;
    display: flex;
    justify-content: center;
}

/* JS Button Styles */
.nav-button {
    background-color: #089AE8;
    border: none;
    border-bottom: 3px solid #089AE8;
    text-transform: uppercase;
    outline-color: white;
    font-size: .9em;
}

.nav-button:hover {
    border-bottom: 3px solid #32C756;
}

.nav-button:active {
    border-bottom: 3px solid white;
}

/*Regular button and link styles*/

a:link {
    color: #32C756;
}

a:active {
    color: #EBF2FA;
}

a:visited {
    color: #32C756;
}

.intro > a:link {
    color: #030c0e;
    background-color: #32C756;
    padding: 3px;
    border: 1px solid #69d684;
    border-radius: 8%;
    text-decoration: none;
    font-family: 'Inconsolata';
}

.intro > a:hover {
    background-color: #8fe0a2;
}

.intro > a:active {
    background-color: #8fe0a2;
}

/* Text Styles */
.heading-text {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.7em;
}

.dark-text {
    color: #030c0e;
}

.light-text {
    color: #EBF2FA;
}

.description, .bio, .project-description {
    font-size: 1em;
}

.self {
    width: 20%;
    border-radius: 50%;
}

.quiz-app-screenshot {
    max-width: 100%;
}

.footer-icon {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Positioning elements */
.im-rise {
    padding-left: 10%;
    padding-top: 12%;
}

.self {
    margin-top: 6%;
    margin-right: 2%;
    float: left;
}

.description {
    padding-left: 30%;
}

.email-me {
    margin-left: 50%;
    clear: left;
}

.quiz-app-screenshot {
    display: block;
    margin: auto;
    width: 90%;
}

/* Media Queries */
@media screen and (min-width: 410px) {
    .im-rise {
        font-size: 2.2em;
    }

    .nav-button {
        font-size: 1.2em;
    }

    a:link {
        font-size: 1.2em;
    }

    .email-me {
        margin-left: 40%;
    }

    .description, .bio, .project-description {
        font-size: 1.2em;
    }

    .self {
        width: 25%;
    }

    .quiz-app-screenshot {
        width: 80%;
    }
}

@media screen and (min-width: 750px) {
    .im-rise {
        padding-top: 8%;
        font-size: 2.7em;
    }

    .nav-button {
        font-size: 1.5em;
    }
    
    .self {
        width: 20%;
    }

    .intro {
        min-height: 300px;
    }

    .email-me {
        margin-left: 40%;
    }

    .description, .bio, .project-description {
        font-size: 1.3em;
    }

    .quiz-app-screenshot {
        width: 60%;
    }

}

@media screen and (min-width: 900px) {
    .im-rise {
        padding-top: 5%;
    }

    .self {
        width: 18%;
        max-width: 300px;
        margin-left: 4%;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project {
        width: 45%;
    }

    .email-me {
        margin-left: 60%;
    }

    .intro {
        min-height: 400px;
    }

    .description, .bio, .project-description {
        font-size: 1.5em;
    }

    .quiz-app-screenshot {
        width: 90%;
    }
}

@media screen and (min-width: 1520px) {
    .im-rise {
        padding-top: 3%;
    }

    .intro {
        min-height: 500px;
    }

    .self {
        width: 15%;
        margin-left: 6%;
    }

    .description {
        margin-top: 7%;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project {
        width: 45%;
    }
}

/*The hidden class*/
.hidden {
    display: none;
}
